<%- include(cabecera) %>

<body>
    <div class="container">

      <ul class="nav nav-tabs">

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#formulario5">Inferior</a>
        </li>

      </ul>

      <div class="tab-content">

        <!-- Quinto formulario -->
        <div class="tab-pane" id="formulario5">
          <h1>Inferior</h1>
          <div class="border p-3">
            <form>
              <h3>Inferior</h3>
              <fieldset>
                <legend>Sistema de escape</legend>
                <label><input type="radio" name="sistema_de_escape" value="bien"> Bien</label>
                <label><input type="radio" name="sistema_de_escape" value="mal"> Mal</label>
                <label><input type="radio" name="sistema_de_escape" value="fuga"> Fuga</label>
              </fieldset>
              <fieldset>
                <legend>Amortiguadores</legend>
                <label><input type="radio" name="amortiguadores" value="bien"> Bien</label>
                <label><input type="radio" name="amortiguadores" value="mal"> Mal</label>
                <label><input type="radio" name="amortiguadores" value="fuga"> Fuga</label>
              </fieldset>
              <fieldset>
                <legend>Tuberias</legend>
                <label><input type="radio" name="tuberias" value="bien"> Bien</label>
                <label><input type="radio" name="tuberias" value="mal"> Mal</label>
                <label><input type="radio" name="tuberias" value="fuga"> Fuga</label>
              </fieldset>
              <fieldset>
                <legend>Transeje/Transmision</legend>
                <label><input type="radio" name="transeje_transmision" value="bien"> Bien</label>
                <label><input type="radio" name="transeje_transmision" value="mal"> Mal</label>
                <label><input type="radio" name="transeje_transmision" value="fuga"> Fuga</label>
              </fieldset>
              <fieldset>
                <legend>Sistema de dirección</legend>
                <label><input type="radio" name="sistema_de_direccion" value="bien"> Bien</label>
                <label><input type="radio" name="sistema_de_direccion" value="mal"> Mal</label>
                <label><input type="radio" name="sistema_de_direccion" value="fuga"> Fuga</label>
              </fieldset>
              <fieldset>
                <legend>Chasis sucio</legend>
                <label><input type="radio" name="chasis_sucio" value="bien"> Bien</label>
                <label><input type="radio" name="chasis_sucio" value="mal"> Mal</label>
                <label><input type="radio" name="chasis_sucio" value="fuga"> Fuga</label>
              </fieldset>
              <fieldset>
                <legend>Golpe especifico</legend>
                <label><input type="radio" name="golpe_especifico" value="bien"> Bien</label>
                <label><input type="radio" name="golpe_especifico" value="mal"> Mal</label>
                <label><input type="radio" name="golpe_especifico" value="fuga"> Fuga</label>
              </fieldset>
              <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      
      </div>
    </div>
  </body>
</html>